.content {
  display: flex;
  flex-direction: column;
}
.content h1 {
  background: url(../img/fond-carbone-baner.jpg) center;
  color: white;
  padding: 4rem 0.75rem;
  font-size: var(--mainSizeH1);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.content h1 em {
  font-style: normal;
}
.content h2 {
  color: var(--mainBlue);
  font-size: var(--mainSizeH2);
  font-weight: bold;
  text-transform: uppercase;
}
.content h3 {
  color: var(--mainGrey);
  font-size: var(--mainSizeH3);
  margin-top: 6vh;
  margin-bottom: 4vh;
}
.content h3 em {
  font-style: normal;
}
.content h4 {
  color: var(--mainBlue);
  margin-top: 8vh;
}
.content h4 strong {
  color: var(--mainBlue);
}
.content p:first-child {
  padding-top: 3rem;
}
.content p:last-child {
  padding-bottom: 3rem;
}
.content strong {
  color: var(--mainBlueDark);
}
.content .content__bckgd--white {
  background-color: white;
}
.content ul.content__bckgd--white {
  background-color: white;
  padding: 2rem;
}
.content ul.content__bckgd--grey {
  background-color: var(--mainGreyBckgrd);
  padding: 2rem;
}
.content ul li {
  padding-bottom: 3vh;
  margin: 0 3rem 0 0;
  font-size: 0.95rem;
}
.content ul li:last-child {
  padding-bottom: 0;
}
.content ul li::before {
  content: "";
  background-image: url(../ico/puce-li.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.content ul.ul__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}
.content ul.ul__cards li {
  min-width: 13rem;
  width: 20rem;
  margin-top: 1vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.content .content__standard {
  padding: 2vh calc(var(--mainpaddingLeftRight) / 2) 6vh calc(var(--mainpaddingLeftRight) / 2);
}
.content .content__standard .content__container--partner {
  margin-top: 8vh;
}
.content .content__standard .content__container--partner p {
  padding: 2vh 0;
  margin: 0;
}
.content * > * {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
}
.content .blue {
  background-color: var(--mainBlueBckgrd);
}
.content .grey {
  background-color: var(--mainGreyBckgrd);
}
.content .carbone {
  background: url(../img/fond-carbone-baner.jpg) center;
}
.content .carbone h2 {
  color: white;
}
.content .carbone p {
  color: white;
}
.content .carbone p strong {
  color: white;
}
.content .wp-block-button {
  display: block;
  text-align: right;
}
.content .wp-block-button .wp-block-button__link {
  width: 28rem;
  background-color: var(--mainBlue);
  border-radius: 0px;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.content .wp-block-button .wp-block-button__link:hover {
  background-color: var(--mainBlueDark);
}
.content .wp-block-button .wp-block-button__link:active {
  background-color: var(--mainBlueDark);
  box-shadow: inset 2px 2px 5px #001f28;
}
.content .wp-block-columns {
  margin: 5vh 12vw;
}
.content .wp-block-columns .wp-block-column {
  margin-right: 2vw;
  padding: 7vh 0;
  background-color: var(--mainBlueDark);
}
.content .wp-block-columns .wp-block-column:last-child {
  margin-right: 0;
}
.content .wp-block-columns .wp-block-column p {
  padding: unset;
  text-align: center;
  color: white;
}
.content .wp-block-columns .wp-block-column ul {
  margin: 0 0 0 2vw;
}
.content .wp-block-columns .wp-block-column ul li {
  padding: 1vh 10px;
  color: white;
}
.content .flex__contact {
  display: flex;
  flex-direction: row;
}
.content .flex__contact > div {
  width: 50%;
}
.content .flex__contact .contact__infos {
  margin: 0;
}
.content .flex__contact .contact__infos > p {
  padding-left: 2vw;
}
.content .flex__contact .contact__infos > p:first-child {
  margin-top: 0;
}
.content .flex__contact .contact__infos > iframe {
  display: inline;
  text-align: center;
  width: 90%;
  height: 300px;
  margin-top: 10vh;
  margin-left: 5%;
}
.content .flex__contact .contact__form {
  margin: 0;
}
.content .flex__contact .contact__form .wp-block-contact-form-7-contact-form-selector {
  margin: 0;
}
.content .flex__contact .contact__form .wp-block-contact-form-7-contact-form-selector .wpcf7 {
  margin: 0;
}
.content .flex__contact .contact__form .wp-block-contact-form-7-contact-form-selector .wpcf7 form {
  margin: 0;
}
.content .wpcf7-form {
  background-color: var(--mainBlueBckgrd);
  color: white;
  padding: 2vh 4vw;
}
.content .wpcf7-form p label {
  color: var(--mainBlueDark);
}
.content .wpcf7-form p label .wpcf7-text {
  background-color: white;
  color: black;
  width: 100%;
  height: 4vh;
}
.content .wpcf7-form p label .wpcf7-textarea {
  background-color: white;
  color: black;
  width: 100%;
}
.content .wpcf7-form p label .wpcf7-select {
  background-color: white;
  color: black;
  width: 100%;
  height: 4vh;
}
.content .wpcf7-form p label .wpcf7-form-control {
  background-color: white;
  color: black;
  width: 100%;
}
.content .wpcf7-form p label input {
  margin-top: 1vh;
}
.content .wpcf7-form p .wpcf7-submit {
  background-color: var(--mainBlue);
  text-align: center;
  padding: 1.5vh 3vh;
}
.content .wpcf7-form p .wpcf7-submit:hover {
  background-color: var(--mainBlueDark);
}
.content .wpcf7-form p .wpcf7-submit:active {
  background-color: var(--mainBlueDark);
  box-shadow: inset 2px 2px 5px #001f28;
}
.content .wpcf7-form p:nth-last-child(2) {
  border: none;
  display: flex;
  justify-content: end;
}
.content .wpcf7-form .wpcf7-response-output {
  color: red;
}
@media (max-width: 850px) {
  .content h1 {
    font-size: calc(var(--mainSizeH1) - 0.6rem);
    padding: 2rem 0.75rem;
  }
  .content h2 {
    font-size: calc(var(--mainSizeH2) - 0.3rem);
  }
  .content h3 {
    font-size: calc(var(--mainSizeH3) - 0.3rem);
  }
  .content .wp-block-button {
    font-size: 0.9rem;
  }
  .content .wp-block-button .wp-block-button__link {
    margin-top: 4vh;
  }
  .content ul li {
    margin-right: 2rem;
  }
}
@media (max-width: 780px) {
  .content .wp-block-columns .wp-block-column {
    margin-right: 0;
    margin-bottom: 3vh;
  }
  .content .wp-block-columns .wp-block-column:last-child {
    margin-bottom: 0;
  }
  .content .wp-block-columns .wp-block-column ul {
    margin: 0 0 0 5vw;
  }
  .content .wp-block-columns .wp-block-column ul li {
    padding-left: 5vw;
  }
  .content ul.ul__cards li {
    width: 30rem;
  }
}
@media (max-width: 500px) {
  .content .flex__contact {
    flex-direction: column;
  }
  .content .flex__contact > div {
    width: 100%;
  }
  .content .flex__contact > div:last-child {
    margin-top: 5vh;
  }
  .content .wp-block-button .wp-block-button__link {
    width: 100%;
  }
  .content ul li {
    margin-right: 0;
  }
}/*# sourceMappingURL=content.css.map */