.content {
  margin-bottom: 0;
}
.content h1 {
  background-color: var(--mainBlue);
  color: white;
  text-align: center;
  font-size: 2.5rem;
  padding: 20px 2vh;
  font-weight: bold;
}
.content h1 em {
  font-style: normal;
}
.content h2 {
  color: var(--mainBlueDark);
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
  padding: 4vh 2vh;
}
.content h3 {
  background-color: var(--mainBlueAlpha);
  color: var(--mainBlueDark);
  text-align: center;
  margin: 4vh 0 2vh 0;
  font-size: 1.1rem;
  padding: 1vh;
}
.content h3 em {
  font-style: normal;
}
.content p {
  padding: 1.5vh 12vw;
  text-align: left;
}
.content p strong {
  color: var(--mainBlueDark);
}
.content p:first-child {
  padding-top: 3vw;
}
.content ul {
  margin: 2vh 13vw;
}
.content ul li {
  padding-left: 1vw;
  padding-bottom: 3vh;
}
.content ul li:last-child {
  padding-bottom: 0;
}
.content ul li::before {
  content: "";
  background-image: url(../ico/puce-li.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.content ul.ul__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}
.content ul.ul__cards li {
  min-width: 13rem;
  width: 20rem;
  margin-right: 1rem;
  margin-top: 1vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.content .content__standard {
  padding-top: 4vh;
  padding-bottom: 6vh;
}
.content .blue {
  background-color: var(--mainBlueBckgrd);
}
.content .grey {
  background-color: var(--mainGreyBckgrd);
}
.content .wp-block-button {
  display: flex;
  justify-content: center;
}
.content .wp-block-button .wp-block-button__link {
  background-color: var(--mainBlue);
  border-radius: 0px;
  margin-top: 2vh;
  margin-bottom: 8vh;
}
.content .wp-block-button .wp-block-button__link:hover {
  background-color: var(--mainBlueDark);
}
.content .wp-block-button .wp-block-button__link:active {
  background-color: var(--mainBlueDark);
  box-shadow: inset 2px 2px 5px #001f28;
}
.content .wp-block-columns {
  margin: 5vh 12vw;
}
.content .wp-block-columns .wp-block-column {
  margin-right: 2vw;
  padding: 7vh 0;
  background-color: var(--mainBlueDark);
}
.content .wp-block-columns .wp-block-column:last-child {
  margin-right: 0;
}
.content .wp-block-columns .wp-block-column p {
  padding: unset;
  text-align: center;
  color: white;
}
.content .wp-block-columns .wp-block-column ul {
  margin: 0 0 0 2vw;
}
.content .wp-block-columns .wp-block-column ul li {
  padding: 1vh 10px;
  color: white;
}
.content .flex__contact {
  display: flex;
  flex-direction: row;
}
.content .flex__contact > div {
  width: 50%;
}
.content .flex__contact .contact__infos > p {
  padding-left: 2vw;
}
.content .flex__contact .contact__infos > iframe {
  display: inline;
  text-align: center;
  width: 90%;
  height: 300px;
  margin-top: 2vh;
  margin-left: 5%;
}
.content .wpcf7-form {
  background-color: var(--mainBlueBckgrd);
  color: white;
  padding: 2vh 4vw;
}
.content .wpcf7-form p {
  padding: 1vh;
}
.content .wpcf7-form p label {
  color: var(--mainBlueDark);
}
.content .wpcf7-form p label .wpcf7-text {
  background-color: white;
  color: black;
  width: 100%;
  height: 4vh;
}
.content .wpcf7-form p label .wpcf7-textarea {
  background-color: white;
  color: black;
  width: 100%;
}
.content .wpcf7-form p label .wpcf7-select {
  background-color: white;
  color: black;
  width: 100%;
  height: 4vh;
}
.content .wpcf7-form p .wpcf7-submit {
  background-color: var(--mainBlue);
  text-align: center;
  padding: 1.5vh 3vh;
}
.content .wpcf7-form p .wpcf7-submit:hover {
  background-color: var(--mainBlueDark);
}
.content .wpcf7-form p .wpcf7-submit:active {
  background-color: var(--mainBlueDark);
  box-shadow: inset 2px 2px 5px #001f28;
}
.content .wpcf7-form p:nth-last-child(2) {
  border: none;
  display: flex;
  justify-content: end;
}
.content .wpcf7-form .wpcf7-response-output {
  color: red;
  margin: 0 15vw;
}
@media (max-width: 850px) {
  .content h1 {
    font-size: 1.8rem;
  }
  .content h2 {
    font-size: 1.4rem;
  }
  .content h3 {
    font-size: 1rem;
  }
  .content .wp-block-button {
    font-size: 0.9rem;
  }
  .content .wp-block-button .wp-block-button__link {
    margin-top: 4vh;
  }
}
@media (max-width: 780px) {
  .content .wp-block-columns .wp-block-column {
    margin-right: 0;
    margin-bottom: 3vh;
  }
  .content .wp-block-columns .wp-block-column:last-child {
    margin-bottom: 0;
  }
  .content .wp-block-columns .wp-block-column ul {
    margin: 0 0 0 5vw;
  }
  .content .wp-block-columns .wp-block-column ul li {
    padding-left: 5vw;
  }
}
@media (max-width: 500px) {
  .content .flex__contact {
    flex-direction: column;
  }
  .content .flex__contact > div {
    width: 100%;
  }
  .content .flex__contact > div:last-child {
    margin-top: 5vh;
  }
}/*# sourceMappingURL=content.css.map */