.content{
    display: flex;
    flex-direction: column;
    
    h1{
        background-color: var(--mainBlue);
        color: white;
        padding: 2rem 0.75rem;
        font-size: var(--mainSizeH1);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        em{
            font-style: normal;
        }
    }
    h2{
        color: var(--mainBlue);
        font-size: var(--mainSizeH2);
        font-weight: bold;
        text-transform: uppercase;
    }
    h3{
        color: var(--mainGrey);
        font-size: var(--mainSizeH3);
        margin-top: 6vh;
        margin-bottom: 4vh;
        em{
            font-style: normal;
        }
    }
    h4{
        color: var(--mainBlue);
        margin-top: 8vh;
    }
    p{
        &:first-child{
            padding-top: 3rem;
        }
        &:last-child{
            padding-bottom: 3rem;
        }
    }
    strong{
        color: var(--mainBlueDark);
    }
    ul{
        li{
            // padding-left: 1vw;
            padding-bottom: 3vh;
            margin: 0 3rem 0 0;
            &:last-child{
                padding-bottom: 0;
            }
            &::before {
                content: "";
                background-image: url(../ico/puce-li.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                margin-right: 0.5rem;
                position: relative;
                top: 3px;
            }
        }
        &.ul__cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            width: 100%;
            li{
                min-width: 13rem;
                width: 20rem;
                // margin-right: 1rem;
                margin-top: 1vh;
                padding-bottom: 1vh;
                padding-top: 1vh;
            }
        }
    }
    .content__standard{
        padding: 2vh var(--mainpaddingLeftRight) 6vh var(--mainpaddingLeftRight);
    }
    *{
        >*{
            max-width: 70rem;
            margin-right: auto;
            margin-left: auto;
            margin-top: 1.5rem;
        }
    }
    .blue{
        background-color: var(--mainBlueBckgrd);
    }
    .grey{
        background-color: var(--mainGreyBckgrd);
    }
    .wp-block-button{
        display: block;
        text-align: right;
        .wp-block-button__link{
            width: 28rem;
            background-color: var(--mainBlue);
            border-radius: 0px;
            margin-top: 2vh;
            margin-bottom: 3vh;
            &:hover{
                background-color: var(--mainBlueDark);
            }
            &:active{
                background-color: var(--mainBlueDark);
                box-shadow: inset 2px 2px 5px #001f28;
            }
        }
    }
    .wp-block-columns{
        margin: 5vh 12vw;
        .wp-block-column{
            margin-right: 2vw;
            padding: 7vh 0;
            background-color: var(--mainBlueDark);
            &:last-child{
                margin-right: 0;
            }
            p{
                padding:unset;
                text-align: center;
                color: white;
            }
            ul{
                margin: 0 0 0 2vw;
                
                li{
                    padding: 1vh 10px;
                color: white;
                }
            }
        }
    }
    .flex__contact{
        display: flex;
        flex-direction: row;
        >div{
            width: 50%;
        }
        .contact__infos{
            margin: 0;
            >p{
                padding-left: 2vw;
                &:first-child{
                    margin-top: 0;
                }
            }
            >iframe{
                display: inline;
                text-align: center;
                width: 90%;
                height: 300px;
                margin-top: 10vh;
                margin-left: 5%;
            }
        }
        .contact__form{
            margin: 0;
            .wp-block-contact-form-7-contact-form-selector{
                margin: 0;
                .wpcf7{
                    margin: 0;
                    form{
                        margin: 0;
                    }
                }
            }
        }
    }
    .wpcf7-form{
        background-color: var(--mainBlueBckgrd);
        color: white;
        padding: 2vh 4vw;
        p{
            label{
                color: var(--mainBlueDark);
                .wpcf7-text{
                    background-color: white;
                    color: black;
                    width: 100%;
                    height: 4vh;
                }
                .wpcf7-textarea{
                    background-color: white;
                    color: black;
                    width: 100%;
                }
                .wpcf7-select{
                    background-color: white;
                    color: black;
                    width: 100%;
                    height: 4vh;
                }
                .wpcf7-form-control{
                    background-color: white;
                    color: black;
                    width: 100%;
                }
                input{
                    margin-top: 1vh;
                }
            }
            .wpcf7-submit{
                background-color: var(--mainBlue);
                text-align: center;
                padding: 1.5vh 3vh;
                &:hover{
                    background-color: var(--mainBlueDark);
                }
                &:active{
                    background-color: var(--mainBlueDark);
                    box-shadow: inset 2px 2px 5px #001f28;
                }
            }
        }
        p:nth-last-child(2){
            border: none;
            display: flex;
            justify-content: end;
        }
        .wpcf7-response-output{
            color: red;
            margin: 0 15vw;
        }
    }


@media (max-width: 850px){
    h1{
        font-size: calc(var(--mainSizeH1) - 0.6rem);
    }
    h2{
        font-size: calc(var(--mainSizeH2) - 0.3rem);
    }
    h3{
        font-size: calc(var(--mainSizeH3) - 0.3rem);
    }
    .wp-block-button{
        font-size: 0.9rem;
        .wp-block-button__link{
            margin-top: 4vh;
        }
    }
    ul{
        li{
            margin-right: 2rem;
        }
    }
}
@media (max-width: 780px){
    .wp-block-columns{
        .wp-block-column{
            margin-right: 0;
            margin-bottom: 3vh;
            &:last-child{
                margin-bottom: 0;
            }
            ul{
                margin: 0 0 0 5vw;
                li{
                    padding-left: 5vw;
                }
            }
        }
    }
    ul{
        &.ul__cards{
            li{
                width: 30rem;
            }
        }
    }
}

@media (max-width: 500px){
    .flex__contact{
        flex-direction: column;
        >div{
            width: 100%;
            &:last-child{
                margin-top: 5vh;
            }
        }
    }
    .wp-block-button{
        .wp-block-button__link{
            width: 100%;
            // margin: 1vh;
        }
    }
    ul{
        li{
            margin-right: 0;
        }
    }
}

}