.content{
    margin-bottom: 0;
    
    h1{
        background-color: var(--mainBlue);
        color: white;
        text-align: center;
        font-size: 2.5rem;
        padding: 20px 2vh;
        font-weight: bold;
        em{
            font-style: normal;
        }
    }
    h2{
        color: var(--mainBlueDark);
        text-align: center;
        font-style: italic;
        font-size: 1.8rem;
        padding: 4vh 2vh;
    }
    h3{
        background-color: var(--mainBlueAlpha);
        color: var(--mainBlueDark);
        text-align: center;
        margin: 4vh 0 2vh 0;
        font-size: 1.1rem;
        padding: 1vh;
        em{
            font-style: normal;
        }
    }
    p{
        padding: 1.5vh 12vw;
        text-align: left;
        strong{
            color: var(--mainBlueDark);
        }
        &:first-child{
            padding-top: 3vw;
        }
    }
    ul{
        margin: 2vh 13vw;
        li{
            padding-left: 1vw;
            padding-bottom: 3vh;
            &:last-child{
                padding-bottom: 0;
            }
            &::before {
                content: "";
                background-image: url(../ico/puce-li.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                margin-right: 0.5rem;
                position: relative;
                top: 3px;
            }
        }
        &.ul__cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            width: 100%;
            li{
                min-width: 13rem;
                width: 20rem;
                margin-right: 1rem;
                margin-top: 1vh;
                padding-bottom: 1vh;
                padding-top: 1vh;
            }
        }
    }
    .content__standard{
        padding-top: 4vh;
        padding-bottom: 6vh;
    }
    .blue{
        background-color: var(--mainBlueBckgrd);
    }
    .grey{
        background-color: var(--mainGreyBckgrd);
    }
    .wp-block-button{
        display: flex;
        justify-content: center;
        .wp-block-button__link{
            background-color: var(--mainBlue);
            border-radius: 0px;
            margin-top: 2vh;
            margin-bottom: 8vh;
            &:hover{
                background-color: var(--mainBlueDark);
            }
            &:active{
                background-color: var(--mainBlueDark);
                box-shadow: inset 2px 2px 5px #001f28;
            }
        }
    }
    .wp-block-columns{
        margin: 5vh 12vw;
        .wp-block-column{
            margin-right: 2vw;
            padding: 7vh 0;
            background-color: var(--mainBlueDark);
            &:last-child{
                margin-right: 0;
            }
            p{
                padding:unset;
                text-align: center;
                color: white;
            }
            ul{
                margin: 0 0 0 2vw;
                
                li{
                    padding: 1vh 10px;
                color: white;
                }
            }
        }
    }
    .flex__contact{
        display: flex;
        flex-direction: row;
        >div{
            width: 50%;
        }
        .contact__infos{
            >p{
                padding-left: 2vw;
            }
            >iframe{
                display: inline;
                text-align: center;
                width: 90%;
                height: 300px;
                margin-top: 2vh;
                margin-left: 5%;
            }
        }
    }
    .wpcf7-form{
        background-color: var(--mainBlueBckgrd);
        color: white;
        padding: 2vh 4vw;
        p{
            padding: 1vh;
            label{
                color: var(--mainBlueDark);
                .wpcf7-text{
                    background-color: white;
                    color: black;
                    width: 100%;
                    height: 4vh;
                }
                .wpcf7-textarea{
                    background-color: white;
                    color: black;
                    width: 100%;
                }
                .wpcf7-select{
                    background-color: white;
                    color: black;
                    width: 100%;
                    height: 4vh;
                }
            }
            .wpcf7-submit{
                background-color: var(--mainBlue);
                text-align: center;
                padding: 1.5vh 3vh;
                &:hover{
                    background-color: var(--mainBlueDark);
                }
                &:active{
                    background-color: var(--mainBlueDark);
                    box-shadow: inset 2px 2px 5px #001f28;
                }
            }
        }
        p:nth-last-child(2){
            border: none;
            display: flex;
            justify-content: end;
        }
        .wpcf7-response-output{
            color: red;
            margin: 0 15vw;
        }
    }


@media (max-width: 850px){
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1rem;
    }
    .wp-block-button{
        font-size: 0.9rem;
        .wp-block-button__link{
            margin-top: 4vh;
        }
    }
}
@media (max-width: 780px){
    .wp-block-columns{
        .wp-block-column{
            margin-right: 0;
            margin-bottom: 3vh;
            &:last-child{
                margin-bottom: 0;
            }
            ul{
                margin: 0 0 0 5vw;
                li{
                    padding-left: 5vw;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .flex__contact{
        flex-direction: column;
        >div{
            width: 100%;
            &:last-child{
                margin-top: 5vh;
            }
        }
    }
}

}