footer{
  background-color: black;
  color: white;
  .footer__infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
      .footer__logo img{
        width: 15em;
      }
      .footer__contact{
        text-align: right;
        .bold{
          font-weight: bold;
        }
        p{
          margin: 10px 0px;
        }
        #footer__contactRS{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .footer__contactRS{
            img{
              width: 30px;
              margin: 0px 10px;
            }
          }
        }
      }
  }
  .footer__credits{
    text-align: center;
    padding: 5px 0px;
  }
}

@media (max-width: 500px){
  .footer__infos{
    flex-direction: column;
  }
}