footer{
  background-color: black;
  color: white;
  .footer__infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
      .menu-navbar-container{
        li{
          padding: 0.3vh 0vh;
          &:hover{
            color: #00abda;
          }
        }
      }
      .footer__logo img{
        cursor: pointer;
        width: 15em;
      }
      .footer__contact{
        text-align: right;
        .bold{
          font-weight: bold;
        }
        p{
          margin: 20px 0px;
        }
        #footer__contactRS{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .footer__contactRS{
            img{
              width: 30px;
              margin: 0px 10px;
            }
          }
        }
      }
  }
  .footer__credits{
    text-align: center;
    padding: 5px 0px;
  }

@media (max-width: 500px){

    .footer__infos{
      flex-direction: column;
      .menu-navbar-container{
        display: none;
      }
      .footer__contact{
        text-align: center;
        margin: 20px 0px;
        #footer__contactRS{
          justify-content:center;
          .footer__contactRS{
            img{
              width: 50px;
            }
          }
        }
      }
    }
}
}