footer{
  background-color: black;
  color: white;
  .footer__infos{
    max-width: 70rem;
    margin: auto;
    padding: 15px 0px;
    &.row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu-navbar-container{
      li{
        padding: 0.3vh 0vh;
        &:hover{
          color: var(--mainBlue);
        }
      }
    }
    #footer__phone{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 15px 0;
      img{
        width: 25px;
        margin: 0px 10px;
      }
    }
    .footer__logo{
      img{
        cursor: pointer;
        width: 15em;
      }
    }
    .footer__contact{
      text-align: right;
      .bold{
        font-weight: bold;
      }
      #footer__contactRS{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
        .footer__contactRS{
          img{
            width: 30px;
            margin: 0px 10px;
          }
        }
      }
    }
  }
  .footer__credits{
    text-align: center;
    padding: 10px 0px;
    .menu-footer-container{
      #menu-footer{
        display: flex;
      flex-direction: row;
      justify-content: center;
        li{
          &:hover{
            color: var(--mainBlue);
          }
          &:first-child{
            margin-right: 1vw;
          }
          &:last-child{
            list-style-type: "\23B9";
            padding-left: 1vw;
          }
        }
      }
    }
  }
@media (max-width: 1060px){
  .footer__infos{
    margin-right: 2vw;
    margin-left: 2vw;
  }
}
@media (max-width: 650px){

    .footer__infos{
      &.row{
        flex-direction: column;
      }
      .menu-navbar-container{
        display: none;
      }
      #footer__phone{
        margin: 30px 0;
      }
      .footer__contact{
        text-align: center;
        margin: 20px 0px;
        #footer__contactRS{
          justify-content:center;
          .footer__contactRS{
            img{
              width: 40px;
            }
          }
        }
      }
    }
}
}