.forwardImage{
    z-index: -1;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @media screen and (max-width: 600px){
        h1{
            font-size: 1.2rem;
        }
        height: calc(100vh - 30rem);
    }
}