.headOfLanding{
    z-index: -1;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    h1{
        position: absolute;
        bottom: 0;
        background-color: var(--mainBlueAlpha);
        width: 100%;
        text-align: center;
        color: white;
        padding: 0.9rem;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
}