nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .nav__logo > img {
  cursor: pointer;
  height: 4rem;
  margin: 1rem 0;
}
nav #menu-navbar {
  display: flex;
  flex-direction: row;
}
nav #menu-navbar > li {
  padding: 1rem 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
}
nav #menu-navbar > li:hover a {
  color: var(--mainBlue);
  border-bottom: 3px var(--mainBlue) solid;
  padding-bottom: 5px;
}
nav .current-menu-item {
  margin-bottom: 2vh;
}
nav .current-menu-item > a {
  color: var(--mainBlue);
  border-bottom: 3px var(--mainBlue) solid;
  padding-bottom: 5px;
  font-weight: bold;
}
nav .nav__contact {
  background-color: var(--mainBlue);
  font-weight: bold;
  color: white;
  padding: 4px 15px;
  font-size: 2.5vh;
  margin-bottom: 8px;
}
nav .nav__contact > img {
  display: none;
}

@media screen and (max-width: 1265px) {
  nav .nav__contact {
    background-color: transparent;
  }
  nav .nav__contact a {
    display: none;
  }
}
@media screen and (max-width: 1110px) {
  nav {
    flex-wrap: wrap;
    margin: 15px;
  }
  nav .menu-navbar-container {
    display: none;
    position: absolute;
  }
  nav .menu-navbar-container.menu-navbar-container--show {
    display: block;
    order: 3;
    min-width: 100vw;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: showMenu;
            animation-name: showMenu;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .menu-navbar-container.menu-navbar-container--unshow {
    display: block;
    order: 3;
    min-width: 98vw;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: unshowMenu;
            animation-name: unshowMenu;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav #menu-navbar {
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
  }
  nav .nav__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
  }
  nav .nav__burger > div {
    height: 4px;
    width: 35px;
    background-color: var(--mainBlueDark);
    border-radius: 20px;
  }
  nav .nav__burger.nav__burger--cross div:nth-child(1) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: crossMenu1;
            animation-name: crossMenu1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .nav__burger.nav__burger--cross div:nth-child(2) {
    -webkit-animation-duration: 0.05s;
            animation-duration: 0.05s;
    -webkit-animation-name: crossMenu2;
            animation-name: crossMenu2;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .nav__burger.nav__burger--cross div:nth-child(3) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: crossMenu3;
            animation-name: crossMenu3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .nav__burger.nav__burger--burger div:nth-child(1) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu1;
            animation-name: burgerMenu1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav .nav__burger.nav__burger--burger div:nth-child(2) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu2;
            animation-name: burgerMenu2;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav .nav__burger.nav__burger--burger div:nth-child(3) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu3;
            animation-name: burgerMenu3;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav .nav__contact {
    margin-left: auto;
  }
  nav .nav__contact img {
    cursor: pointer;
    display: block;
    height: 3rem;
    position: relative;
    top: 5px;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  nav .nav__logo > img {
    height: 55px;
  }
  nav .nav__contact {
    margin-left: auto;
  }
  nav .nav__contact > img {
    display: none;
  }
}

@-webkit-keyframes showMenu {
  from {
    top: -300px;
  }
  to {
    top: 110px;
  }
}

@keyframes showMenu {
  from {
    top: -300px;
  }
  to {
    top: 110px;
  }
}
@-webkit-keyframes unshowMenu {
  from {
    top: 110px;
  }
  to {
    top: -300px;
  }
}
@keyframes unshowMenu {
  from {
    top: 110px;
  }
  to {
    top: -300px;
  }
}
@-webkit-keyframes crossMenu1 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(8px, 5px);
  }
}
@keyframes crossMenu1 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(8px, 5px);
  }
}
@-webkit-keyframes crossMenu2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@keyframes crossMenu2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes crossMenu3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(9px, -7px);
  }
}
@keyframes crossMenu3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(9px, -7px);
  }
}
@-webkit-keyframes burgerMenu1 {
  from {
    transform: rotate(45deg) translate(8px, 5px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes burgerMenu1 {
  from {
    transform: rotate(45deg) translate(8px, 5px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@-webkit-keyframes burgerMenu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes burgerMenu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-webkit-keyframes burgerMenu3 {
  from {
    transform: rotate(-45deg) translate(9px, -7px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes burgerMenu3 {
  from {
    transform: rotate(-45deg) translate(9px, -7px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}/*# sourceMappingURL=nav.css.map */