nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    .nav__logo{
        >img{
            width: 18em;
            margin: 20px 0px;
        }
    }
    #menu-navbar{
    display: flex;
    flex-direction: row;
    >li{
        padding: 10px 15px;
        text-transform: uppercase;
    }
}
.current-menu-item{
    margin-bottom: 10px;
    >a{
        color: #0dc0e3;
        border-bottom: 3px #0dc0e3 solid;
        padding-bottom: 5px;
        font-weight: bold;
    }
}
.nav__contact{
    background-color: #0dc0e3;
    font-weight: bold;
    color: white;
    padding: 4px 15px;
    font-size: 20px;
    >img{
        display: none;
    }
}

}



@media screen and (max-width: 1265px){
    
    .nav__contact{
        display: none;
    }
}
nav{
    @media screen and (max-width: 1110px){
        flex-wrap: wrap;
    .menu-navbar-container{
        display: none;
        &.menu-navbar-container--show{
            display: block;
            order: 3;
            min-width: 98vw;
        }
    }
    #menu-navbar{
        flex-direction: column;
        align-items: center;
        background-color:rgb(239, 239, 239);
    }
    
    .nav__burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
        div{
        height: 4px;
        width: 35px;
        background-color: #0d5969;
        border-radius: 20px;
        }
    }
    .nav__contact{
        // >a{
        //     background-color: transparent;
        // }
        >img{
            display: inline;
        }
    }
}

}

