nav{
    position: sticky;
    top: 0;
    background-color: white;
    width: 100vw;
    z-index: 1;
    &.nav--row{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .nav__logo{
        >img{
            cursor: pointer;
            height: 4rem;
            margin: 1rem 0;
        }
    }
    #menu-navbar{
    display: flex;
    flex-direction: row;
    .menu-item-has-children{
        &:hover{
            .sub-menu{
                display: block;
            }
        }
        .sub-menu{
        display: none;
        position: absolute;
        top: 4rem;
        background-color: var(--mainGreyBckgrd);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
        min-width: 9.2rem;
        margin-left: -0.8rem;
        li{
            padding: 1.2rem 1rem;
            border-bottom: 1px solid white;
            &:last-child{
                border: none;
            }
            a{
                border: none;
                color: var(--mainGrey);
                font-size: 0.8rem;
                text-transform: none;
                &:hover{
                    color: var(--mainBlue);
                }
            }
        }
    }
    }
        >li{
            padding: 1rem 15px;
            text-transform: uppercase;
            font-size: 0.9rem;
            &:hover{
                a{
                color: var(--mainBlue);
                border-bottom: 3px var(--mainBlue) solid;
                padding-bottom: 5px; 
                }
            }
        }
    }
.current-menu-item{
    >a{
        color: var(--mainBlue);
        border-bottom: 3px var(--mainBlue) solid;
        padding-bottom: 5px;
        font-weight: bold;
    }
}
.nav__contact{
    background-color: var(--mainBlue);
    font-weight: bold;
    color: white;
    padding: 0.5rem 0.8rem;
    font-size: 1.1rem;
        >img{
            display: none;
        }
}

}


nav{

    @media screen and (max-width: 1124px){
        &.nav--row{
            flex-wrap: wrap;
            padding-right: 15px;
            padding-left: 15px;
        }
    .menu-navbar-container{
        display: none;
        position: absolute;
        &.menu-navbar-container--show{
            display: block;
            order: 3;
            min-width: 100vw;
            animation-duration: 0.5s;
            animation-name: showMenu;
            animation-fill-mode: forwards;
        }
        &.menu-navbar-container--unshow{
            display: block;
            order: 3;
            min-width: 98vw;
            animation-duration: 0.5s;
            animation-name: unshowMenu;
            animation-fill-mode: forwards;
        }
    }
    #menu-navbar{
        flex-direction: column;
        align-items: center;
        background-color:rgb(255, 255, 255, 0.95);
        >li{
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            border-bottom: 0.5px solid var(--mainBlueDark);
        }
        .menu-item-has-children{
            .sub-menu{
            display: block;
            position: relative;
            left: 0;
            top: 1rem;
            margin: 0;
            box-shadow: none;
            background-color: var(--mainBlueAlpha);
            li{
                border-bottom: 0.5px solid white;
                padding: 0.8rem;
                a{
                    color: white;
                }
            }
            }
        }
        
    }
    
    
    .nav__burger{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
            >div{
            height: 4px;
            width: 35px;
            background-color: var(--mainBlueDark);
            border-radius: 20px;
            }
            &.nav__burger--cross{
                div:nth-child(1){
                    animation-duration: 0.5s;
                    animation-name: crossMenu1;
                    animation-fill-mode: forwards;
                    
                }
                div:nth-child(2){
                    animation-duration: 0.05s;
                    animation-name: crossMenu2;
                    animation-fill-mode: forwards;
                    
                }
                div:nth-child(3){
                    animation-duration: 0.5s;
                    animation-name: crossMenu3;
                    animation-fill-mode: forwards;
                    
                }
            }
            &.nav__burger--burger{
                div:nth-child(1){
                    animation-duration: 0.5s;
                    animation-name: burgerMenu1;
                    animation-fill-mode: both;
                    
                }
                div:nth-child(2){
                    animation-duration: 0.5s;
                    animation-name: burgerMenu2;
                    animation-fill-mode: both;
                    
                }
                div:nth-child(3){
                    animation-duration: 0.5s;
                    animation-name: burgerMenu3;
                    animation-fill-mode: both;
                    
                }
            }
    }
    .nav__contact{
        margin-left: auto;
        background-color: transparent;
        a{
            display: none;
        }
        img{
            cursor: pointer;
            display: block;
            height: 3rem;
            margin-right: 1rem;
        }
    }

@media (max-width: 500px){
    .nav__logo{
        >img{
            height: 55px;
        }
    }
    .nav__contact{
        margin-left: auto;
            >img{
            display: none;
        } 
    }
}

}

@keyframes showMenu {
    from {
        top: -400px;
    }
    to {
        top: 85px;
    }
  }
  @keyframes unshowMenu {
    from {
        top: 85px;
    }
    to {
        top: -400px;
    }
  }

  @keyframes crossMenu1 {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(8px, 5px);
    }
  }
  @keyframes crossMenu2 {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
  }
  @keyframes crossMenu3 {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-45deg) translate(9px, -7px);
    }
  }

  @keyframes burgerMenu1 {
    from {
        transform: rotate(45deg) translate(8px, 5px);
    }
    to {
        transform: rotate(0deg) translate(0px, 0px);
    }
  }
  @keyframes burgerMenu2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
  }
  @keyframes burgerMenu3 {
    from {
        transform: rotate(-45deg) translate(9px, -7px);
    }
    to {
        transform: rotate(0deg) translate(0px, 0px);
    }
  }
}