nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100vw;
  z-index: 1;
}
nav.nav--row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav__logo > img {
  cursor: pointer;
  height: 4rem;
  margin: 1rem 0;
}
nav #menu-navbar {
  display: flex;
  flex-direction: row;
}
nav #menu-navbar .menu-item-has-children:hover .sub-menu {
  display: block;
}
nav #menu-navbar .menu-item-has-children .sub-menu {
  display: none;
  position: absolute;
  top: 4rem;
  background-color: var(--mainGreyBckgrd);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  min-width: 9.2rem;
  margin-left: -0.8rem;
}
nav #menu-navbar .menu-item-has-children .sub-menu li {
  padding: 1.2rem 1rem;
  border-bottom: 1px solid white;
}
nav #menu-navbar .menu-item-has-children .sub-menu li:last-child {
  border: none;
}
nav #menu-navbar .menu-item-has-children .sub-menu li a {
  border: none;
  color: var(--mainGrey);
  font-size: 0.8rem;
  text-transform: none;
}
nav #menu-navbar .menu-item-has-children .sub-menu li a:hover {
  color: var(--mainBlue);
}
nav #menu-navbar > li {
  padding: 1rem 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
}
nav #menu-navbar > li:hover a {
  color: var(--mainBlue);
  border-bottom: 3px var(--mainBlue) solid;
  padding-bottom: 5px;
}
nav .current-menu-item > a {
  color: var(--mainBlue);
  border-bottom: 3px var(--mainBlue) solid;
  padding-bottom: 5px;
  font-weight: bold;
}
nav .nav__contact {
  background-color: var(--mainBlue);
  font-weight: bold;
  color: white;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
}
nav .nav__contact > img {
  display: none;
}

@media screen and (max-width: 1124px) {
  nav.nav--row {
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
  }
  nav .menu-navbar-container {
    display: none;
    position: absolute;
  }
  nav .menu-navbar-container.menu-navbar-container--show {
    display: block;
    order: 3;
    min-width: 100vw;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: showMenu;
            animation-name: showMenu;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .menu-navbar-container.menu-navbar-container--unshow {
    display: block;
    order: 3;
    min-width: 98vw;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: unshowMenu;
            animation-name: unshowMenu;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav #menu-navbar {
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
  }
  nav #menu-navbar > li {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 0.5px solid var(--mainBlueDark);
  }
  nav #menu-navbar .menu-item-has-children .sub-menu {
    display: block;
    position: relative;
    left: 0;
    top: 1rem;
    margin: 0;
    box-shadow: none;
    background-color: var(--mainBlueAlpha);
  }
  nav #menu-navbar .menu-item-has-children .sub-menu li {
    border-bottom: 0.5px solid white;
    padding: 0.8rem;
  }
  nav #menu-navbar .menu-item-has-children .sub-menu li a {
    color: white;
  }
  nav .nav__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
  }
  nav .nav__burger > div {
    height: 4px;
    width: 35px;
    background-color: var(--mainBlueDark);
    border-radius: 20px;
  }
  nav .nav__burger.nav__burger--cross div:nth-child(1) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: crossMenu1;
            animation-name: crossMenu1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .nav__burger.nav__burger--cross div:nth-child(2) {
    -webkit-animation-duration: 0.05s;
            animation-duration: 0.05s;
    -webkit-animation-name: crossMenu2;
            animation-name: crossMenu2;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .nav__burger.nav__burger--cross div:nth-child(3) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: crossMenu3;
            animation-name: crossMenu3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .nav__burger.nav__burger--burger div:nth-child(1) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu1;
            animation-name: burgerMenu1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav .nav__burger.nav__burger--burger div:nth-child(2) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu2;
            animation-name: burgerMenu2;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav .nav__burger.nav__burger--burger div:nth-child(3) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu3;
            animation-name: burgerMenu3;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav .nav__contact {
    margin-left: auto;
    background-color: transparent;
  }
  nav .nav__contact a {
    display: none;
  }
  nav .nav__contact img {
    cursor: pointer;
    display: block;
    height: 3rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1124px) and (max-width: 500px) {
  nav .nav__logo > img {
    height: 55px;
  }
  nav .nav__contact {
    margin-left: auto;
  }
  nav .nav__contact > img {
    display: none;
  }
}
@-webkit-keyframes showMenu {
  from {
    top: -400px;
  }
  to {
    top: 85px;
  }
}
@keyframes showMenu {
  from {
    top: -400px;
  }
  to {
    top: 85px;
  }
}
@-webkit-keyframes unshowMenu {
  from {
    top: 85px;
  }
  to {
    top: -400px;
  }
}
@keyframes unshowMenu {
  from {
    top: 85px;
  }
  to {
    top: -400px;
  }
}
@-webkit-keyframes crossMenu1 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(8px, 5px);
  }
}
@keyframes crossMenu1 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(8px, 5px);
  }
}
@-webkit-keyframes crossMenu2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@keyframes crossMenu2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes crossMenu3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(9px, -7px);
  }
}
@keyframes crossMenu3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(9px, -7px);
  }
}
@-webkit-keyframes burgerMenu1 {
  from {
    transform: rotate(45deg) translate(8px, 5px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes burgerMenu1 {
  from {
    transform: rotate(45deg) translate(8px, 5px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@-webkit-keyframes burgerMenu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes burgerMenu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-webkit-keyframes burgerMenu3 {
  from {
    transform: rotate(-45deg) translate(9px, -7px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes burgerMenu3 {
  from {
    transform: rotate(-45deg) translate(9px, -7px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}/*# sourceMappingURL=nav.css.map */